
<div class="row">
  <div class="col-md-12">
    <h1>My Library</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">

    <h3>All of my bottle shots</h3>

    <ul id="bottleshot-index" data-user-id="<%= @user.id %>"></ul>

    <!--<ul>
      <% @bottleshots.each do |bottleshot| %>
        <li><%= link_to bottleshot.fullname, user_bottleshot_path(@user, bottleshot) %> - <%= bottleshot.status %> 
          <% if bottleshot.status == "open order" %>
            - <%=link_to "Delete", user_bottleshot_path(@user, bottleshot), method: "DELETE" %>
            - <%=link_to "Edit", edit_user_bottleshot_path(@user, bottleshot) %>
          <% end %>
        </li>
      <% end %>
    </ul>-->

    <form method="get" action="<%=new_user_bottleshot_path(@user)%>">
        <button type="submit">Add A New Bottleshot</button>
    </form>
  </div>
  <div class="col-md-4">
    <%= render "layouts/user_control_panel"%>
  </div>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    var userId = parseInt($("#bottleshot-index").attr("data-user-id"))
    $.get("/users/" + userId + "/bottleshots.json", function(data) {
      data.forEach(function(bottleshot_info) {

        var bottleshot = new Bottleshot(bottleshot_info)

        var li = '<li class="bottleshot-info"><span><a class="bottleshot-varietal" href="' + "/users/" + userId + "/bottleshots/" + bottleshot_info["id"] + '">' + bottleshot.fullname + '</a></span> - <span>' + bottleshot_info["status"] + '</span></li>'
        $("#bottleshot-index").append(li)
        if (bottleshot["status"] == "open order") {

        }
      })
    })
  });
</script>