<div class="row">
    <div class="col-md-12">
    <h1>Bottle shot information</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h3 class="bottleshot-name"><%= @bottleshot.fullname %></h3>

    <br>
    <p class="bottle-shape" >Bottle Shape: <%= @bottleshot.bottle_shape_name %></p>
    <p class="glass-color">Glass Color: <%= @bottleshot.glass_color_name %></p>
    <p class="wine-color">Wine Color: <%= @bottleshot.wine_color_name %></p>
    <p class="capsule">Capsule: <%= @bottleshot.capsule_name %></p>
    <p class="screenprinted">Screenprinted: <%= @bottleshot.screenprinted ? "Yes" : "No" %></p>
    <p class="paperstock">Paperstock: <%= @bottleshot.paperstock_name %></p>
    <p class="label-finish">Label Finish: <%= @bottleshot.label_finish_name %></p>
    <p class="label-file">Label File: <%= @bottleshot.label_file %></p>
    <p class="add-on">Add On Options: <%= @bottleshot.add_on_names.join(", ") %> </p>
    <div class="edit-bottleshot">
      <% if @bottleshot.status == "open order" %>
        <button class="btn btn-primary btn-md">
          <%=link_to "Delete", user_bottleshot_path(@user, @bottleshot), method: "DELETE" %>
        </button>
        <button class="btn btn-primary btn-md">
          <%=link_to "Edit", edit_user_bottleshot_path(@user, @bottleshot) %>
        </button>
      <% end %>
    </div>
    <button class="next-bottleshot btn btn-primary btn-md" data-id="<%= @bottleshot.id %>" data-user-id="<%= @bottleshot.user.id %>" >Next</button>
  </div>
  <div class="col-md-4">
    <%= render "layouts/user_control_panel"%>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".next-bottleshot").on("click", (function() {
      var nextId = parseInt($(".next-bottleshot").attr("data-id")) + 1
      var userId = parseInt($(".next-bottleshot").attr("data-user-id"))
      $.get("/users/" + userId + /bottleshots/ + nextId + ".json", function(data) {
        $(".bottleshot-name").text(data["vintage"] + " ")
        $(".bottleshot-name").append(data["varietal"])
        $(".bottle-shape").text(data["bottle_shape"]["name"])
        $(".glass-color").text(data["glass_color"]["name"])
        $(".wine-color").text(data["wine_color"]["name"])
        $(".capsule").text(data["capsule"]["name"])
        $(".paperstock").text(data["paperstock"]["name"])
        $(".next-bottleshot").attr("data-id", data["id"])
      })
    }))
  })
</script>