<div class="row">
    <div class="col-md-12">
    <h1>Bottle shot information</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div><h3 class="bottleshot-name"></h3></div>
    <div>Bottle Shape: <span class="bottle-shape"></span></div>
    <div>Glass Color: <span class="glass-color"></span></div>
    <div>Wine Color: <span class="wine-color"></span></div>
    <div>Capsule: <span class="capsule"></span></div>
    <div>Screenprinted: <span class="screenprinted"></span></div>
    <div>Paperstock: <span class="paperstock"></span></div>
    <div>Label Finish: <span class="label-finish"></span></div>
    <div>Label File: <span class="label-file"></span></div>
    <div>Add On Options: <span class="add-on"></span></div>

    <div class="edit-bottleshot">
      <% if @bottleshot.status == "open order" %>
        <button class="btn btn-primary btn-md">
          <%=link_to "Delete", user_bottleshot_path(@user, @bottleshot), method: "DELETE" %>
        </button>
        <button class="btn btn-primary btn-md">
          <%=link_to "Edit", edit_user_bottleshot_path(@user, @bottleshot) %>
        </button>
      <% end %>
    </div>
    <button class="next-bottleshot btn btn-primary btn-md" data-id="<%= @bottleshot.id %>" data-user-id="<%= @bottleshot.user.id %>" >Next</button>
  </div>
  <div class="col-md-4">
    <%= render "layouts/user_control_panel"%>
  </div>
</div>
<script type="text/javascript">
  $( document ).ready(function() {
    var id = parseInt($(".next-bottleshot").attr("data-id"))
    var userId = parseInt($(".next-bottleshot").attr("data-user-id"))

    fetch(`/users/${userId}/bottleshots/${id}.json`)
      .then(parseToJSON)
      .then(appendResponseToDOM)
      .catch(logFailure)

    function parseToJSON(response) {
      return response.json()
    }

    function appendResponseToDOM(json) {
      var bottleshot = new Bottleshot(json)
      bottleshot.appendBottleInfoToDOM()
      $(".next-bottleshot").attr("data-id", bottleshot.id)
    }

    function logFailure(error) {
      console.log(error)
    }

    $(".next-bottleshot").on("click", function () {
      var nextId = parseInt($(".next-bottleshot").attr("data-id")) + 1
      var userId = parseInt($(".next-bottleshot").attr("data-user-id"))
      fetch(`/users/${userId}/bottleshots/${nextId}.json`)
        .then(parseToJSON)
        .then(appendResponseToDOM)
        .catch(logFailure)
    })
  });
</script>

<!--<script type="text/javascript">
  $( document ).ready(function() {
    var id = parseInt($(".next-bottleshot").attr("data-id"))
    var userId = parseInt($(".next-bottleshot").attr("data-user-id"))

    $.ajax({
      method: "GET",
      url: `/users/${userId}/bottleshots/${id}.json`,
      dataType: "json"
    })
    .done(function (response) {
      appendResponseToDOM(response)
    })
    .fail(function (error) {
      logFailure(error)
    })

    function appendResponseToDOM(json) {
      var bottleshot = new Bottleshot(json)
      bottleshot.appendBottleInfoToDOM()
      $(".next-bottleshot").attr("data-id", bottleshot.id)
    }

    function logFailure(error) {
      console.log(error)
    }

    $(".next-bottleshot").on("click", function () {
      var nextId = parseInt($(".next-bottleshot").attr("data-id")) + 1
      var userId = parseInt($(".next-bottleshot").attr("data-user-id"))
      fetch(`/users/${userId}/bottleshots/${nextId}.json`)
        .then(parseToJSON)
        .then(appendResponseToDOM)
        .catch(logFailure)
    })
  });

</script>-->


<!--/*    $.get("/users/" + userId + "/bottleshots/" + id + ".json", function(data) {

      var bottleshot = new Bottleshot(data)

      $(".bottleshot-name").text(bottleshot.fullname)
      $(".bottle-shape").text(data["bottle_shape"]["name"])
      $(".glass-color").text(data["glass_color"]["name"])
      $(".wine-color").text(data["wine_color"]["name"])
      $(".capsule").text(data["capsule"]["name"])
      $(".paperstock").text(data["paperstock"]["name"])
      $(".label-finish").text(data["label_finish"]["name"])
      $(".next-bottleshot").attr("data-id", data["id"])
      $(".screenprinted").text(bottleshot.is_screenprinted())
      var add_ons = []
      data["add_ons"].forEach(function(add_on) {
        add_ons.push(add_on["name"])
      })
      $(".add-on").text(add_ons.join(", "))
    })
  });
</script>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".next-bottleshot").on("click", (function() {
      var nextId = parseInt($(".next-bottleshot").attr("data-id")) + 1
      var userId = parseInt($(".next-bottleshot").attr("data-user-id"))
      $.get("/users/" + userId + "/bottleshots/" + nextId + ".json", function(data) {
          var bottleshot = new Bottleshot(data)

          $(".bottleshot-name").text(bottleshot.fullname)
          $(".bottle-shape").text(data["bottle_shape"]["name"])
          $(".glass-color").text(data["glass_color"]["name"])
          $(".wine-color").text(data["wine_color"]["name"])
          $(".capsule").text(data["capsule"]["name"])
          $(".paperstock").text(data["paperstock"]["name"])
          $(".label-finish").text(data["label_finish"]["name"])
          $(".next-bottleshot").attr("data-id", data["id"])
          $(".screenprinted").text(bottleshot.is_screenprinted())
          var add_ons = []
          data["add_ons"].forEach(function(add_on) {
            add_ons.push(add_on["name"])
          })
          $(".add-on").text(add_ons.join(", "))
      })
    }))
  })
</script>*/-->
