<div>
  <%= form_for @user do |f| %>
    <div class="field">
      <%=f.label :name, "Name: " %>
      <%=f.text_field :name %><br>      
    </div>
    <div class="field">
      <%=f.label :company, "Company: " %>
      <%=f.text_field :company %><br>      
    </div>
    <div class="field">
      <%=f.label :website, "Website: " %>
      <%=f.text_field :website %><br>      
    </div>
    <div class="field">
      <%=f.label :address_1, "Address - Line 1: " %>
      <%=f.text_field :address_1 %><br>      
    </div>
    <div class="field">
      <%=f.label :address_2, "Address - Line 2: " %>
      <%=f.text_field :address_2 %><br>      
    </div>
    <div class="field">
      <%=f.label :city, "City: " %>
      <%=f.text_field :city %><br>      
    </div>
    <div class="field">
      <%=f.label :state, "State: " %>
      <%=f.text_field :state %><br>      
    </div>
    <div class="field">
      <%=f.label :country, "Country: " %>
      <%=f.text_field :country %><br>      
    </div>
    <div class="field">
      <%=f.label :zipcode, "Zipcode: " %>
      <%=f.text_field :zipcode %><br>      
    </div>
    <div class="field">
      <%=f.label :telephone, "Telephone: " %>
      <%=f.text_field :telephone %><br>      
    </div>

    <%=f.submit "Update My Profile" %>
  <% end %>  
</div>
