<div class="row">
  <div class="col-md-12">
    <h1>My profile:</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h1>My Profile</h1>
    <br>
    <h4>Name: <%= @user.name %><h4>
    <h4>Company: <%= @user.company %></h4>
    <h4>Website: <%= link_to @user.website, @user.website %></h4>
    <h4>Email: <%= @user.email %></h4>
    <h4>Address: <%= @user.full_address %></h4>
    <h4>Telephone: <%= @user.telephone %></h4>
    <button class="btn btn-primary btn-md">
      <%= link_to "Edit my profile", edit_user_path(@user) %>
    </button>
    <button class="btn btn-primary btn-md">
      <%= link_to "Change my email or password", edit_user_registration_path(@user) %> 
    </button>
  </div>
  <div class="col-md-4">
    <%= render "layouts/user_control_panel"%>
  </div>
</div>