<!DOCTYPE html>
<html>
<head>
  <title>Outshinery | Professional and consistent bottle shots before your beverage is bottled</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navigation">
    <%= render 'layouts/nav_bar_fixed_to_top' %>
  </div>   
  <div id="mainContent">
    <div class="container">
      <div class="main-wrapper">
        <br>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  <div id="footer">
  <%= render 'layouts/footer'%>
  </div>
</body>
</html>
